:root {
  --theme-color-primary: #777D9E;
  --theme-color-primary-dark: #464B6B;
  --theme-color-primary-darker: #252839;
  --theme-color-primary-light: #99A7CC;
  --theme-color-highlight: #F2B632;
  --theme-color-light: #F8F8F8;
  --theme-color-neutral: #B5B5B7;
}