:root {
  --theme-color-primary: #B56357;
  --theme-color-primary-dark: #753C33;
  --theme-color-primary-darker: #2E1814;
  --theme-color-primary-light: #D5A69F;
  --theme-color-highlight: #B4DBC0;
  --theme-color-light: #FDFDFD;
  --theme-color-neutral: #A7B3A5;
}