:root {
  --theme-color-primary: #5792B5;
  --theme-color-primary-dark: #325569;
  --theme-color-primary-darker: #1A2B36;
  --theme-color-primary-light: #9CCBE6;
  --theme-color-highlight: #DBCC88;
  --theme-color-light: #F7FCFF;
  --theme-color-neutral: #6d6b5f;
}