{% include 'header-first-episode.html' %}
<div class="posts-wrapper">
  <div class="posts">
    {% if blog.announcement != blank %}
    <div class="announcement">
      {{blog.announcement}}
    </div>
    {% endif %}
    <h2 class="posts__title">
      All episodes
      <div class="zigzag-primary"></div>
    </h2>
    <div class="posts__wrapper">
      {% for episode in episodes %}
      <article class="post">
        <div class="post__background-image" style="background-image:url({{episode.cover_image_url}})"></div>
        <header class="post__header">
          <time class="post__time">
            {{episode.published_at | date: "%d. %B %Y"}}
          </time>
          <h1 class="post__heading">
            <a href="{{episode.url}}">{{episode.title}}</a>
          </h1>
        </header>
      </article>
      {% endfor %}
    </div>
    <div class="pagination">
      {{ pagination.previous_page }}
      {{ pagination.next_page }}
    </div>
  </div>
</div>