:root {
  --theme-color-primary: #4EBCD4;
  --theme-color-primary-dark: #258398;
  --theme-color-primary-darker: #113C46;
  --theme-color-primary-light: #CAEBF2;
  --theme-color-highlight: #FF383F;
  --theme-color-light: #FAFAFA;
  --theme-color-neutral: #A9A9A9;
}